.table {
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.sortable {
  cursor: pointer;
}

.sortedAsc {
  color: green;
}

.sortedDesc {
  color: red;
}
